:root{
    --purple: #2F192E;
    --purple-Light:#30192d;
    --dark-blue:#012677;
    --blue:#5c65c0;
    --skyblue:#00b4fc;
    --Lighy-Blue:#005bc5;
    --dark-pink:#f64c57;
    --dark-magenta:#e21b5a;
    --light-green:#61e2c2;
    --light-purple:#d9abff;
    --black:#000000;
    --white:#ffffff;
}
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    text-decoration: none;
    font-family:poppins,sans-serif;
}
body{
    background: linear-gradient(45deg,#000000, #8b8b8b,#000000);
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}
.profile-card{
    background: #111;
    width: 400px;
    padding: 3rem;
    border-radius: 10px;
    min-height: 380px;
    position: relative;
    color: #fff;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}
.profile-card .profile-pic{
    margin-top: 15px;
    overflow: hidden;

}
.profile-card .profile-pic img{
    border-radius: 10px;

}
.profile-card .profile-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

}
.profile-card .intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-details .intro h2{
    margin-top: 20px;
    

}
.profile-details .intro h4{
    background: #1d1d1d;
    color:var(--dark-magenta);
    font-weight: 400;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 8px;

}
.profile-details .intro .social{
    margin-top: 10px;
    margin-bottom: 25px;

}
.profile-details .intro .social i{
    color: #ddd;
    font-size: 16px;
    background-color: #222;
    margin: 5px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
}
.profile-details .intro .social i:hover{
    transform: scale(1.2);
    border: 1px solid rgba(255,255,255,0.3);
}
.profile-details .contact-info{
    background-color: #1d1d1d;
    padding: 15px;
    border-radius: 10px;
    width: 100%;

}
.profile-details .contact-info .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 10px 0;
    margin-bottom: 10px;

}
.contact-info .row .icon{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #111;
    text-align: center;
    color: #fff;
    transition: 0.5s;

}
.row .icon:hover{
    transform: scale(1.2);
    border: 1px solid rgba(255,255,255,0.1);
}
.row .content{
   min-width: 70%;
}
.row .content span{
    font-size: 12px;
}
.download-btn{
    background: linear-gradient(45deg, #00b4fc, #012677);
    color: #fff;
    padding: 1rem 3rem;
    border-radius: 30px;
    margin-top: 1.5rem;
    border: none;
}
.download-btn:hover{
    transform: scale(1.1rem);
    color: #00ffa2 ;
}
.about{
    background-color: #111;
    max-width: 800px;
    padding: 2rem 3rem;
    border-radius: 10px;
}
.about h1{
    color: #f2f2f2;
    margin-bottom: 1.1rem;
    position: relative;
    display: inline-block;
    font-size: 3.5rem;
}
.about h1::after{
    position: absolute;
    content: "";
    top: 50%;
    right: -35%;
    width: 30%;
    height: 3px;
    background: linear-gradient(45deg, #00b4fc, #012677);
}
.about h2{
    color: #f2f2f2;
    font-size: 2rem;
    margin: 0.5rem 0;


}
.about p{
    color: beige;
    margin: 1.5rem 0;
    
}
.about .work{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

}
.work .workbox{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid #333;
    padding: 1rem;
    margin: 1rem;
}
.work .workbox .desc{
    width: 75%;
    color: #555;
}
.work .workbox .desc h3{
    color: #f2f2f2;
    margin-bottom: 3px;
    
}
.work .workbox .desc P{
    margin: 0px;
}

@media(max-width:768px)
{
    .about{
        width: 1005;
        max-width: 400px;
        padding: 1rem;
        margin: 1rem;

    }
    .about h1{
        font-size: 2.2rem;
    }
    .about .work{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,auto);
    }
}
.about h1{
    color: cyan;
}
.about h2{
    color: gold;
}
.work .workbox .desc h3{
    color: lightskyblue;
}
.profile-details .intro h2{
    color: beige;
}
.contact-info .content span{
    color: beige;
}
.contact-info .content h5{
    color: beige;
}
/* .typingcont{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 300px;
    border: 2px solid red;
} */
/* .typingcont .text{
    position: relative   ;
    color: var(--dark-pink);
    font-size: 15px;
    font-weight: 700;
}
.typingcont .first-text{
    color: white;

}
.typingcont .sec-text{
    margin-left: 10px;
}
.typingcont .sec-text:before{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #111;
    border-left: 1.5px solid var(--dark-pink);
    animation: animate 4s steps(19) infinite;
}
@keyframes animate{
    40%,60%{
        left:100%;
    }
    100%{
        left:0%;
    }
} */
.typingconst{
    height: auto;
    width: 300px;
    /* border: 2px solid red; */
    display: flex;
    /* padding: 7px; */
    justify-content: center;
    align-items:start;
}
.autotype{
    color: var(--dark-magenta);
    font-weight: 800px;
    font-style:italic;
}